# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
dist/
build/
*.egg-info/

# Distribution / packaging
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  * https://pyinstaller.readthedocs.io/en/latest/usage.html#cmdoption-onefile
#  * https://github.com/pyinstaller/pyinstaller/issues/1113
#  * https://github.com/pyinstaller/pyinstaller/issues/2182
#  * https://github.com/pyinstaller/pyinstaller/issues/2930
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log